x-airflow-common:
  &airflow-common
  image: jairflow
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY:-}
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
  volumes:
    - ${AIRFLOW_PROJ_DIR:-./airflow}/dags:${AIRFLOW_DAGS:-/opt/airflow/dags}
    - ${AIRFLOW_PROJ_DIR:-./airflow}/logs:${AIRFLOW_LOGS:-/opt/airflow/logs}
    - ${AIRFLOW_PROJ_DIR:-./airflow}/config:${AIRFLOW_CONFIG:-/opt/airflow/config}
    - ${AIRFLOW_PROJ_DIR:-./airflow}/plugins:${AIRFLOW_PLUGINS:-/opt/airflow/plugins}
    - ${AIRFLOW_PROJ_DIR:-./airflow}/data:${AIRFLOW_DATA:-/opt/airflow/data}
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy
  networks:
    - aio-net

x-spark-common: &spark-common
  image: jspark
  networks:
    - aio-net

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - ./postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
    networks:
      - aio-net

  redis:
    image: redis:7.2-bookworm
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 30s
    restart: always
    networks:
    - aio-net

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8974/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    healthcheck:
      test:
        - "CMD-SHELL"
        - 'celery --app airflow.providers.celery.executors.celery_executor.app inspect ping -d "celery@$${HOSTNAME}" || celery --app airflow.executors.celery_executor.app inspect ping -d "celery@$${HOSTNAME}"'
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    environment:
      <<: *airflow-common-env
      DUMB_INIT_SETSID: "0"
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    healthcheck:
      test: ["CMD-SHELL", 'airflow jobs check --job-type TriggererJob --hostname "$${HOSTNAME}"']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash

    command:
      - -c
      - |
        mkdir -p /sources/logs /sources/dags /sources/plugins /sources/data
        chown -R "${AIRFLOW_UID:-50000}:0" /sources/{logs,dags,plugins,data}

        /entrypoint airflow db init

        airflow variables set AIRFLOW_DATA ${AIRFLOW_DATA:-/opt/airflow/data} &&
        airflow variables set MINIO_BUCKET ${MINIO_BUCKET:-rf-houses} &&
        airflow variables set MINIO_ACCESS_KEY ${MINIO_ACCESS_KEY:-minio} &&
        airflow variables set MINIO_SECRET_KEY ${MINIO_SECRET_KEY:-minio1337} &&
        airflow variables set MINIO_ENDPOINT ${MINIO_ENDPOINT:-minio:9000} &&
        airflow variables set PUBLIC_KEY ${PUBLIC_KEY:-https://disk.yandex.ru/d/YCdFxLK-KGg0Eg} &&
        airflow variables set SPARK_MASTER_URL ${SPARK_MASTER_URL:-spark://spark-master:7077}
        airflow variables set CLICKHOUSE_TABLE ${CLICKHOUSE_TABLE:-houses.houses_rf}

        airflow connections add 'minio_conn' \
            --conn-type 'aws' \
            --conn-login "${MINIO_ACCESS_KEY:-minio}" \
            --conn-password "${MINIO_SECRET_KEY:-minio1337}" \
            --conn-extra '{"endpoint_url": "http://${MINIO_ENDPOINT:-minio:9000}"}'

        exec /entrypoint airflow version

    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME:-airflow}
      _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD:-airflow}
      _PIP_ADDITIONAL_REQUIREMENTS: ''
    user: "0:0"
    volumes:
      - ${AIRFLOW_PROJ_DIR:-./airflow}:/sources

  spark-master:
    <<: *spark-common
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "9090:8080"
      - "7077:7077"

  spark-worker-1:
    <<: *spark-common
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker ${SPARK_MASTER_URL:-spark://spark-master:7077}
    depends_on:
      - spark-master
    environment:
      SPARK_MODE: worker
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_MASTER_URL: ${SPARK_MASTER_URL:-spark://spark-master:7077}

  spark-worker-2:
    <<: *spark-common
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker ${SPARK_MASTER_URL:-spark://spark-master:7077}
    depends_on:
      - spark-master
    environment:
      SPARK_MODE: worker
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 1g
      SPARK_MASTER_URL: ${SPARK_MASTER_URL:-spark://spark-master:7077}

  clickhouse:
    image: yandex/clickhouse-server:latest
    restart: always
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./clickhouse:/var/lib/clickhouse/data
      - ./clickhouse/init:/docker-entrypoint-initdb.d
    networks:
    - aio-net

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    command: server /data --console-address ":9001"
    container_name: minio
    ports:
      - "9002:9000"
      - "9003:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minio1337}
    volumes:
      - ./s3_storage:/data
    networks:
      - aio-net

  minio-mc:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z-cpuv1
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set local http://minio:9000 ${MINIO_ROOT_USER:-minio} ${MINIO_ROOT_PASSWORD:-minio1337};
      mc mb local/${MINIO_BUCKET:-rf-houses};
      mc policy set public local/${MINIO_BUCKET:-rf-houses};
      exit 0;
      "
    networks:
      - aio-net

networks:
  aio-net: